@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

body {
  @apply flex flex-col min-w-[320px] min-h-screen;
}

#app {
  @apply contents;
}

main {
  @apply grow;
}
